* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #f2f8fb;
  color: #1c1f23;
}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}

